form {
    width: auto;
}

.searchInput {
    padding: 6px 12px;
    vertical-align: middle;
}

.searchArea .btn {
    vertical-align: middle;
}

.searchArea {
    text-align: center;
}

#containerArea{
    width: 800px;
    margin: 0 auto;
}

.container {
    margin: 10px auto;
    width: 800px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1.5px solid lightgray;
    padding-bottom: 20px;
}

.container.hide {
    display: none;
}

.container>div {
    padding: 0 20px;
}

.popular {
    text-align: center;
}

.popular span {
    margin: 5px 0px;
    display: inline-block;
}

.popular i {
    font-size: 18px;
}

.popular i:hover {
    cursor: pointer;
    color: #0d6efd;
}

.avatar {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.commentAvatar {
    vertical-align: top;
    margin-right: 10px;
}

.memContent {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.msgContent {
    margin-top: 10px;
}

pre{
    white-space:pre-line;
    font-size: 16px;
    margin: 0;
}

.msgContainer {
    text-align: center;
    margin-top: 50px;
}

.msgContainer button{
    display: block;
}

.msgContainer textarea {
    vertical-align: bottom;
    font-size: 18px;
    resize: none;
}

.msgContainer .btnPrimary {
    vertical-align: bottom;
}
.insert{
    width: 700px;
}
.insert button{
    margin-left: 120px;
    margin-top: 10px;
}

.btnSecondary,
.btnWarning {
    display: inline-block;
    text-decoration: none;
}

.showContent {
    display: block;
}

.hideContent {
    display: none;
}

.container .contentArea {
    flex-grow: 1;
    width: 600px;
}

.container .contentArea textarea {
    resize: none;
}

.container .actionArea.hide {
    display: none;
}

.container .actionArea div {
    margin-top: 10px;
}

.hideSpan {
    display: none;
}

.hideSpan.show {
    display: inline-block;
}

.showmore,
.hidemore {
    display: inline-block;
    color: #065fd4;
    margin-top: 5px;
}

.showmore:hover,
.hidemore:hover {
    cursor: pointer;
}

.showmore.hide,
.hidemore.hide {
    display: none;
}

/* pagination */
.paginationBlock {
    text-align: right;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.pagination>li {
    display: inline-block;
}

.pagination>li>a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #dee2e6;
    border-right: 0;
    text-align: center;
    padding: 10px 15px;
    font-size: 18px;
    color: #6DB9EF;
}

.pagination>li:last-child>a {
    border-right: 1px solid #dee2e6;
    border-radius: 0 5px 5px 0;
}

.pagination>li:first-child>a {
    display: inline-block;
    border-radius: 5px 0 0 5px;
}

.pagination>li>a.on {
    background-color: #e9ecef;
    color: #0056b3;
}

.pagination>li>a:hover {
    background-color: #e9ecef;
    color: #0056b3;
}

/* update.php */
.update .avatar{
    width: 80px;
}

.update .actionArea{
    text-align: center;
    margin-top: 10px;
}

.update .actionArea a {
    text-decoration: none;
}