.signup{
    width: 250px;
}

tbody td{
    text-align: right;
}

.accountTd{
    position: relative;
}

.isValid{
    display: none;
    position: absolute;
    right: -20px;
    top: 7px;
    color: #6DB9EF;
}

.isValid.show{
    display: inline-block;
}

.accountTd button.btn {
    position: absolute;
    top: 4px;
    padding: 3px 6px;
    right: -50px;
    font-size: x-small;
}